.mat-stepper-horizontal {
    margin-top: 8px;
  }
  
  .mat-form-field {
    margin-top: 16px;
  }
  .stepper-container {
    padding: 20px
  }
  mat-toolbar {
    background: #004a9f;
    color: white;
  }
/* .fillnamesform{
    width:50%;
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.fillnamesform{
    text-align: center;
}
mat-form-field {
    width: 25%;
    display: block;
    margin: auto;
  }